package templates

templ Footer() {
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Go Webstore</p>
            <p>Contact us at: support@gowebstore.com</p>
        </div>
    </footer>
}
